// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.price-with-discount {
  font-size: 1.25rem;
  color: green !important;
}

.original-price {
  text-decoration: line-through;
  font-size: 0.8rem;
}

.price-badge {
  position: absolute;
  background-color: green;
  color: white;
  padding: 0.3rem;
  font-size: 0.65rem;
  width: 6.6rem;
  text-align: center;
}

.purchases {
  list-style-type: none;
  padding-left: 20px;
  max-height: 150px;
  overflow: auto;

  .purchases__element {
    margin-top: 1rem;
    border-bottom: solid 1px #ccc;
    padding-bottom: .3rem;
  }
}
